:root {
    --primary: #303030;
    --secondary: #777777;
    --tertiary: #5E5E5E;
}

p {
    list-style: none;
}

body {
    font-family: Kanit;
    margin: 0;
    background-color: #e9e9e9;
    z-index: 1;
    cursor: default !important;
}

.header {
    font-family: Kanit;
    margin-top: 2rem;
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cornerR, .cornerL {
    font-size: 2.5rem;
    color: var(--primary);
    /*background-color: red; */
    display: flex !important;
    align-items: center;
}

.middle {
    color: var(--tertiary);
    font-size: 1.2rem;
    display: flex !important;
    gap: 2rem;
    align-items: center;
}

#Technologies {
    cursor: pointer;
}

#Projects {
    cursor: pointer;
}

#Contact {
    cursor: pointer;
}

#Introduction {
    cursor: pointer;
}

#vll {
    border-left: 1px solid;
    border-color: var(--primary);
    height: 5rem;
}

#vlr {
    border-left: 1px solid;
    border-color: var(--primary);
    height: 5rem;
}

.CV {
    color: var(--primary);
    font-size: 1.5rem;
    margin-right: 7vw;
    border: #5c5c5c 1px solid;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10%;
    cursor: pointer;
}

.CV:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

#initials {
    font-size: 2.5rem;
    margin-left: 5vw;
    cursor: default;
}

.cornerR {
    margin-right: 10vw;
}

.cornerL {
    margin-left: 10vw;
}

#introduction-section {
    height: 31.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20rem;
}

.left-intro {
    margin-left: 2rem;
}

.right-intro {
    margin-right: 2rem;
}

.me {
    width: 85%;
    height: 100%;
    align-self: center;
    justify-self: center;
    border: 1px solid var(--primary);
    border-radius: 15px;
}

.me img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.name {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: bold;
    color: var(--primary);
    text-align: left;
    margin-left: 3rem;
    margin-bottom: 3.5rem;
}

.dot {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--secondary);
}

.socials {
    justify-content: center;
    display: flex;
    color: var(--tertiary);
    margin-bottom: 0rem;
    margin-right: 1.5rem;
}

.LinkedIn {
    color: var(--secondary);
    font-weight: bold;
    border-color: var(--primary);
    width: 5rem;
    cursor: pointer;
    font-size: 1.125rem;
}

.LinkedIn::after {
    content: "";
    position: relative;
    border-right: 1px solid;
    left: 1.5625rem;
    border-color: var(--primary);
}

.Github {
    margin-left: 2.825rem;
    color: var(--secondary);
    font-weight: bold;
    cursor: pointer;
    font-size: 1.125rem;
}

.paragraph1, .paragraph2 {
    margin-top: 4rem;
    color: var(--secondary);
    margin-top: 1.125rem;
    font-size: 1rem;
    padding-top: 1.25rem;
}

.paragraph2::before {
    margin-bottom: 1.25rem;
}

.paragraph1, .paragraph2::before { 
    content: ""; 
    display: block; 
    border-top: 1px solid;
    border-color: var(--primary);
} 

.wid {
    margin-top: 4rem;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
    color: var(--primary);
    line-height: 3rem;
}

.h1 {
    text-align: center;
}

.h3 {
    margin: 0.5rem;
}

#technologies-section {
    display: flex;
    flex-direction: column;
    margin-top: 6.25rem;
}

.technologies-heading {
    font-size: 4rem;
    text-align: left;
    margin-left: 6.25rem;
    font-weight:100;
    padding-right: 0;
}

.technologies-heading::after {
    content: "";
    border-bottom: 1px solid;
    border-color: var(--primary);
    display: block;
    width: 10%;
}

.line {
    content: "";
    border-bottom: 1px solid;
    border-color: var(--primary);
    display: block;
    margin-right: 3rem;
    margin-left: 3rem;
    opacity: 30%;
}

.technologies-box {
    width: 50%;
    height: 12.5rem;
    align-self: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 6.25rem;
    margin-top: 6.25rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 10rem;
    align-items: center;
    overflow-x: scroll;
}

.descriptions {
    margin-top: 1.25rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.icons {
    max-width: 6.25rem; 
    max-height: 6.25rem;
    min-width: 6.25rem;
    min-height: 6.25rem;
    flex: 1;
}

#projects-section {
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
}

.projects-heading {
    font-size: 4rem;
    text-align: left;
    margin-left: 3rem;
    font-weight:100;
    padding-right: 0;
    margin-left: 70%;
    margin-bottom: 12.5rem;
}

.projects-heading::after {
    content: "";
    border-bottom: 1px solid;
    border-color: var(--primary);
    display: block;
    width: 30%;
    margin-left: 40%;
}

.projects-box {
    height: 31.25rem;
    width: 80%;
    align-self: center;
    display: flex;
    flex-direction: row;
}

.project-title {
    align-self: center;
    margin-right: 2rem;
}

.project-title::after {
    content: "";
    border-bottom: 1px solid;
    border-color: var(--primary);
    display: block;
    width: 50%;
    opacity: 30%;
    margin-left: 5rem;
}

.project-info1 {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    flex: 1;
}

.project-info2 {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex: 1;
}

.project-description {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.project-logos {
    align-self: center;
    margin-top: 1rem;
}

.project-image {
    max-width: 100%;
    max-height: 90%;
    border: solid 1px;
    border-radius: 10px;
}

.contact-heading {
    font-size: 4rem;
    text-align: center;
    font-weight: 100;
    padding-right: 1.25rem;
    margin-bottom: 1.25rem;
    margin-top: 12.5rem;
    align-self: center; /* Center horizontally */
}

.contact-heading::after {
    content: "";
    border-bottom: 1px solid;
    border-color: var(--primary);
    display: block;
    width: 10%;
    margin-left: 44%;
}

#contact-me-section {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 3rem; /* Adjust margin-top as needed */
    margin-bottom: 12.5rem;
}

#contact-box {
    border: 1px dashed black;
    width: 31.25rem;
    max-width: 100%; /* Ensure responsiveness */
    height: 25rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}
.form-group {
    margin-top: 1.25rem;
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    gap: 0.6rem;
}

.form-control {
    border: 1px solid black;
    border-radius: 5px;
}

#email {
    width: 12.5rem;
    margin-left: 0.5rem;
}

#message {
    resize: none;
    width: 25rem;
}

.submit-button {
    margin-top: 1.25rem;
    width: 6.25rem;
    height: 2.5rem;
    background-color: black;
    color: white;
    border-radius: 5px; 
}

.submit-button:hover {
    cursor: pointer;
}

.submit-button:active {
    opacity: 0.8;
}

