:root {
    --primary: rgb(42, 185, 185);
    --secondary: #0f0f0f;
    --tertiary0: #ffffff;
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --x-width: calc(var(--hamburger-height) * 1.41421356237)
}

p {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Kanit;
    margin: 0;
    background-color: var(--secondary);
    z-index: 1;
    cursor: default !important;
    font-size: 1.2rem;
    overflow-x: none;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: var(--tertiary0);
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
    /* so that it stays on top of all other elements */
}

.header {
    font-family: Kanit;
    margin-top: 2rem;
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header nav a {
    position: relative;
    text-decoration: none;
    color: var(--tertiary0);
    transition: color 0.3s ease-in-out;
}

.header nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.header nav a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

/* Remove the text-decoration underline for non-hovered links */
.header nav a:not(:hover) {
    text-decoration: none;
}

.cornerR,
.cornerL {
    font-size: 2.5rem;
    color: var(--primary);
    /*background-color: red; */
    display: flex !important;
    align-items: center;
}

.middle {
    color: var(--tertiary);
    font-size: 1.2rem;
    display: flex !important;
    gap: 2rem;
    align-items: center;
}

.middle a {
    position: relative;
    text-decoration: none;
    color: var(--tertiary0);
    transition: color 0.3s ease-in-out;
}

.middle a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: var(--primary);
    transition: width 0.3s ease-in-out;
}

.middle a:hover::after {
    width: 100%;
}

#Technologies {
    cursor: pointer;
    text-decoration: none;
    color: var(--tertiary0);
}

#Projects {
    cursor: pointer;
    text-decoration: none;
    color: var(--tertiary0);
}

#Contact {
    cursor: pointer;
    text-decoration: none;
    color: var(--tertiary0);
}

#About-me {
    cursor: pointer;
    text-decoration: none;
    color: var(--tertiary0);
}

#vll {
    border-left: 1px solid;
    border-color: var(--primary);
    height: 5rem;
}

#vlr {
    border-left: 1px solid;
    border-color: var(--primary);
    height: 5rem;
}

.CV {
    color: var(--primary);
    font-size: 1.5rem;
    margin-right: 7vw;
    padding: 0.5rem 1rem;
    border-radius: 10%;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in-out;
    /* Add transition property */
}

.CV:hover {
    box-shadow: 0 0 0 1px var(--primary);
    /* Apply box shadow on hover */
}


#initials {
    font-size: 2.5rem;
    margin-left: 5vw;
    cursor: default;
    color: var(--primary);
}

.cornerR {
    margin-right: 10vw;
}

.cornerL {
    margin-left: 10vw;
}

#introduction-section {
    height: 31.25rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 6.25rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.name-socials {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: bold;
    color: var(--tertiary0);
    text-align: left;
    width: 40%;
    margin-bottom: 3.5rem;
}

.name::after {
    content: "";
    border-bottom: 1px solid;
    border-color: var(--primary);
    display: block;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 0;
    margin-right: 20rem;
}

.dot {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--primary);
}

.anchor {
    text-decoration: none;
    color: var(--tertiary0);
}

.socials {
    justify-content: center;
    align-self: center;
    display: flex;
    color: var(--primary);
    margin-bottom: 0rem;
    width: 40%;
}

.LinkedIn {
    color: var(--primary);
    font-weight: 200;
    width: 5rem;
    cursor: pointer;
    font-size: 1.125rem;
    transition: color 0.3s ease-in-out;
}

.LinkedIn::after {
    content: "";
    position: relative;
    border-right: 1px solid;
    left: 1.5625rem;
    border-color: var(--primary);
}

.Github {
    margin-left: 2.5rem;
    color: var(--primary);
    font-weight: 200;
    cursor: pointer;
    font-size: 1.125rem;
    transition: color 0.3s ease-in-out;
}


.wid-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: end;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 80%;
    margin-top: 5rem;
}

.me {
    width: 50%;
    height: 120%;
    align-self: center;
    justify-self: center;
    border: 1px solid var(--secondary);
    border-radius: 15px;
    flex-grow: 5;
}

.me img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: 45% 45%;
}

.wid {
    font-size: 3rem;
    font-weight: 200;
    color: var(--primary);
    line-height: 3rem;
    width: 70%;
    margin-left: 9rem;
}

.h1 {
    text-align: center;
}

.h2 {
    text-align: center;
}

.h3 {
    margin: 0.5rem;
}

#about-me-section {
    display: flex;
    flex-direction: column;
    margin-top: 6.25rem;
}

.about-me-heading {
    font-size: 4rem;
    text-align: right;
    margin-right: 6.25rem;
    font-weight: 200;
    padding-left: 0;
    color: var(--tertiary0);
}

.about-me-heading::after {
    content: "";
    border-bottom: 1px solid;
    border-color: var(--primary);
    display: block;
    width: 0%;
    right: 0;
    margin-right: 6.25rem;
    position: absolute;
    transition: width 0.6s ease-in-out;
}

#about-me-section:hover .about-me-heading::after {
    width: 10%;
}

.about-me-box {
    opacity: 100%;
    width: 80%;
    max-width: 100%;
    /* Ensure responsiveness */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Center vertically */
    align-items: center;
    /* Center horizontally */
    margin-bottom: 9rem;
    margin-top: 6.25rem;
    border-radius: 20px;
    gap: 4rem;
    padding: 2rem;
    border: var(--primary) dashed 3px;
    flex-wrap: wrap;
    align-self: center;

}

.about-paragraph {
    font-weight: 300;
    font-size: larger;
    color: var(--tertiary0);
    max-width: 40%;
    min-width: 100%;
    text-align: center;
}

#technologies-section {
    display: flex;
    flex-direction: column;
    margin-top: 6.25rem;
}

.technologies-heading {
    font-size: 4rem;
    text-align: left;
    margin-left: 6.25rem;
    font-weight: 200;
    padding-right: 0;
    color: var(--tertiary0);
}

.technologies-heading::after {
    content: "";
    border-bottom: 1px solid;
    border-color: var(--primary);
    display: block;
    width: 0%;
    left: 0;
    margin-left: 6.25rem;
    position: absolute;
    transition: width 0.6s ease-in-out;
}

#technologies-section:hover .technologies-heading::after {
    width: 10%;
}

.line {
    content: "";
    border-bottom: 1px solid;
    border-color: var(--primary);
    display: block;
    margin-right: 3rem;
    margin-left: 3rem;
    opacity: 30%;
}

.technologies-box {
    width: 50%;
    height: 12.5rem;
    align-self: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 6.25rem;
    margin-top: 6.25rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 10rem;
    align-items: center;
    overflow-x: scroll;
    border-color: var(--primary);
}

.descriptions {
    margin-top: 1.25rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: var(--tertiary0);
}

.icons {
    max-width: 6.25rem;
    max-height: 6.25rem;
    min-width: 6.25rem;
    min-height: 6.25rem;
    flex: 1;
}

#projects-section {
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
    height: 900px;
}

.projects-heading {
    font-size: 4rem;
    text-align: right;
    margin-right: 6.25rem;
    font-weight: 200;
    padding-right: 0;
    margin-bottom: 12.5rem;
    color: var(--tertiary0);
}

.projects-heading::after {
    content: "";
    border-bottom: 1px solid;
    border-color: var(--primary);
    display: block;
    position: absolute;
    right: 0;
    margin-right: 6.25rem;
    width: 0%;
    transition: width 0.6s ease-in-out;
}

#projects-section:hover .projects-heading::after {
    width: 10%;
}

.projects-box {
    height: 31.25rem;
    width: 80%;
    align-self: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 9rem;
}

.project-title {
    align-self: center;
    font-weight: 400;
    color: var(--tertiary0);
}

.project-info1 {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    flex: 1;
    font-weight: 200;
}

.project-info2 {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex: 1;
}

.project-description {
    margin-top: 2rem;
    color: var(--tertiary0);
    font-size: larger;
    font-weight: 300;
    text-align: center;
    align-self: center;
}

.project-logos {
    align-self: center;
    margin-top: 1rem;
}

.project-logo {
    width: 50px;
    height: 50px;
}

.project-image {
    max-width: 100%;
    max-height: 90%;
    border: solid 1px;
    border-radius: 10px;
}

.contact-heading {
    font-size: 4rem;
    text-align: center;
    font-weight: 200;
    margin-bottom: 1.25rem;
    margin-top: 160px;
    align-self: center;
    /* Center horizontally */
    color: var(--tertiary0);
}

.contact-heading::after {
    content: "";
    border-bottom: 1px solid;
    border-color: var(--primary);
    display: block;
    width: 10%;
    margin-left: 45%;
    color: var(--primary);
    transition: width 0.6s ease-in-out;
    position: absolute;
    left: 50;
}

#contact-section:hover .contact-heading::after {
    width: 10%;
}

#contact-me-section {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    margin-top: 3rem;
    /* Adjust margin-top as needed */
    margin-bottom: 12.5rem;
}

#contact-box {
    border: 1px dashed var(--primary);
    width: 35%;
    max-width: 100%;
    /* Ensure responsiveness */
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center vertically */
    align-items: center;
    /* Center horizontally */
    padding: 1rem;
}

.names {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.form-group {
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center horizontally */
    color: var(--tertiary0);
    gap: 0.5rem;
}

.form-group label {
    text-align: center;
    font-size: medium;
    width: 100px;
}

.form-control {
    border: 1px solid var(--primary);
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--secondary);
}

input[type=text],
input[type=email],
textarea[name=message] {
    color: var(--tertiary0);
    font-family: kanit;
    font-size: 0.9rem;
}

#first-name,
#surname {
    width: 80%;
    max-height: 28px;
}

#email {
    width: 80%;
    margin-right: 80px;
}

#message {
    width: 80%;
    margin-right: 80px;
}

.submit-button {
    margin-top: 1.25rem;
    width: 6.25rem;
    height: 2.5rem;
    background-color: var(--tertiary0);
    color: var(--secondary);
    border-color: var(--primarys);
    border-radius: 5px;
}

.submit-button:hover {
    cursor: pointer;
}

.submit-button:active {
    opacity: 0.8;
}

.hamburger-menu {
    display: none;
}

.sidebar {
    display: none;
}

@media (max-width: 768px) {
    .middle a {
        display: none;
    }

    .sidebar {
        margin-top: calc(var(--hamburger-height) + 0rem);
    }

    .header {
        margin-bottom: 100px;
    }

    .line {
        display: none;
    }

    .bar {
        margin-top: 3px;
        margin-bottom: 3px;
        width: 25px;
        height: 2px;
        background-color: var(--primary);
    }

    .about-me-heading,
    .technologies-heading,
    .projects-heading {
        text-align: center;
        margin-top: 100px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .about-me-heading::after,
    .technologies-heading::after,
    .projects-heading::after {
        width: 100vw;
        margin: 0px;
    }

    #introduction-section {
        flex-direction: column;
        margin: 0px;
        justify-content: center;
        align-items: center;
        height: 60rem;
    }

    .wid-pic,
    .name-socials {
        margin: 0px;
        margin-top: 3rem;
        width: 80vw;
        height: auto;
    }

    .wid {
        margin-left: 0px;
        width: auto;
        text-align: center;
    }

    .name {
        left: 0;
        justify-self: end;
        width: auto;
        height: auto;
        text-align: center;
        align-items: center;
    }

    .me {
        width: 80%;
        height: 80%;
    }

    .technologies-box {
        width: 90%;
        gap: 5rem;
    }

    #projects-section {
        margin-bottom: 400px;
    }

    .projects-box {
        margin-top: 100px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .projects-heading {
        margin-bottom: 200px;
    }

    .project-info1,
    .project-info2 {
        margin: 0px;
    }

    .project-title {
        margin-right: 0px;
        text-decoration: underline;
    }

    .project-description {
        font-size: 1rem;
    }

    .contact-heading {
        margin-bottom: 200px;
    }

    .contact-heading::after {
        width: 100%;
        margin: 0px;
    }

    #contact-box div {
        width: 100%;
    }

    #contact-box {
        width: 92vw;
        padding: 10px;
        padding-bottom: 1rem;
    }

    .names {
        display: flex;
        flex-direction: column;
    }

    #message,
    #email {
        margin-right: 0;
    }
}

:root {
    --glow-hue: 222deg;
    --shadow-hue: 180deg;
    --spring-easing: linear(0, 0.002, 0.01 0.9%, 0.038 1.8%, 0.156, 0.312 5.8%, 0.789 11.1%, 1.015 14.2%,
            1.096, 1.157, 1.199, 1.224 20.3%, 1.231, 1.231, 1.226, 1.214 24.6%,
            1.176 26.9%, 1.057 32.6%, 1.007 35.5%, 0.984, 0.968, 0.956, 0.949 42%,
            0.946 44.1%, 0.95 46.5%, 0.998 57.2%, 1.007, 1.011 63.3%, 1.012 68.3%,
            0.998 84%, 1);
    --spring-duration: 1.33s;
}

@property --shimmer {
    syntax: "<angle>";
    inherits: false;
    initial-value: 33deg;
}

@keyframes shimmer {
    0% {
        --shimmer: 0deg;
    }

    100% {
        --shimmer: 360deg;
    }
}

@keyframes shine {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    55% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes text {
    0% {
        background-position: 100% center;
    }

    100% {
        background-position: -100% center;
    }
}

.shimmer-button {
    color: var(--tertiary0);
    font-weight: 500;
    font-family: Kanit;
    margin-top: 15px;
    /*     background-image: linear-gradient(90deg, #fcecfe, #fbf6e7, #e6fcf5); */
    background-image: linear-gradient(315deg,
            var(--primary) -10%,
            var(--primary) 50%,
            var(--tertiary0) 110%);
    padding: .8em 1.4em;
    position: relative;
    isolation: isolate;
    border-radius: 0.5rem;
    scale: 1;
    transition: all var(--spring-duration) var(--spring-easing);
}

.shimmer-button:hover:not(:active),
.shimmer-button.active {
    transition-duration: calc(var(--spring-duration)*0.5);
    scale: 1.2;
    box-shadow: 0 4px 8px -2px hsl(var(--glow-hue) 50% 20% / 50%), inset 0 0 0 transparent;
    cursor: pointer;
}

.shimmer-button:active {
    scale: 1.1;
    transition-duration: calc(var(--spring-duration)*0.5);
}

.shimmer {
    position: absolute;
    inset: -40px;
    border-radius: inherit;
    mask-image: conic-gradient(from var(--shimmer, 0deg),
            transparent 0%,
            transparent 10%,
            black 36%,
            black 45%,
            transparent 50%,
            transparent 60%,
            black 85%,
            black 95%,
            transparent 100%);
    mask-size: cover;
    mix-blend-mode: plus-lighter;
    animation: shimmer 1s linear infinite both;
}

.shimmer-button:hover .shimmer::before,
.shimmer-button:hover .shimmer::after,
.shimmer-button.active .shimmer::before,
.shimmer-button.active .shimmer::after {
    opacity: 1;
    animation: shine 1.2s ease-in 1 forwards;
}

.shimmer::before,
.shimmer::after {
    transition: all 0.5s ease;
    opacity: 0;
    content: "";
    border-radius: inherit;
    position: absolute;
    mix-blend-mode: color;
    inset: 40px;
    pointer-events: none;
}

.shimmer::before {
    box-shadow: 0 0 3px 2px hsl(var(--glow-hue) 20% 95%),
        0 0 7px 4px hsl(var(--glow-hue) 20% 80%),
        0 0 13px 4px hsl(var(--glow-hue) 50% 70%),
        0 0 25px 5px hsl(var(--glow-hue) 100% 70%);
    z-index: -1;
}

.shimmer::after {
    box-shadow: inset 0 0 0 1px hsl(var(--glow-hue) 70% 95%),
        inset 0 0 2px 1px hsl(var(--glow-hue) 100% 80%),
        inset 0 0 5px 2px hsl(var(--glow-hue) 100% 70%);
    z-index: 2;
}

.shimmer-button .text {
    color: black;
    background-clip: text;
    background-color: var(--bg);
    background-image: linear-gradient(120deg, transparent, hsla(var(--glow-hue), 100%, 80%, 0.66) 40%, hsla(var(--glow-hue), 100%, 90%, .9) 50%, transparent 52%);
    background-repeat: no-repeat;
    background-size: 300% 300%;
    background-position: center 200%;
}

.shimmer-button:hover .text,
.shimmer-button.active .text {
    animation: text .66s ease-in 1 both;
}