:root {
    --primary: rgb(42, 185, 185);
    --secondary: #0f0f0f;
    --tertiary0: #ffffff;
}

p {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Kanit;
    margin: 0;
    background-color: var(--secondary);
    z-index: 1;
    cursor: default !important;
}

.header {
    font-family: Kanit;
    margin-top: 2rem;
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header nav a {
    position: relative;
    text-decoration: none;
    color: var(--tertiary0);
    transition: color 0.3s ease-in-out;
}

.header nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.header nav a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

/* Remove the text-decoration underline for non-hovered links */
.header nav a:not(:hover) {
    text-decoration: none;
}

.cornerR, .cornerL {
    font-size: 2.5rem;
    color: var(--primary);
    /*background-color: red; */
    display: flex !important;
    align-items: center;
}

.middle {
    color: var(--tertiary);
    font-size: 1.2rem;
    display: flex !important;
    gap: 2rem;
    align-items: center;
}

.middle a {
    position: relative;
    text-decoration: none;
    color: var(--tertiary0);
    transition: color 0.3s ease-in-out;
}

.middle a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: var(--primary);
    transition: width 0.3s ease-in-out;
}

.middle a:hover::after {
    width: 100%;
}

#Technologies {
    cursor: pointer;
    text-decoration: none;
    color: var(--tertiary0);
}

#Projects {
    cursor: pointer;
    text-decoration: none;
    color: var(--tertiary0);
}

#Contact {
    cursor: pointer;
    text-decoration: none;
    color: var(--tertiary0);
}

#About-me {
    cursor: pointer;
    text-decoration: none;
    color: var(--tertiary0);
}

#vll {
    border-left: 1px solid;
    border-color: var(--primary);
    height: 5rem;
}

#vlr {
    border-left: 1px solid;
    border-color: var(--primary);
    height: 5rem;
}

.CV {
    color: var(--primary);
    font-size: 1.5rem;
    margin-right: 7vw;
    padding: 0.5rem 1rem;
    border-radius: 10%;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in-out; /* Add transition property */
}

.CV:hover {
    box-shadow: 0 0 0 1px var(--primary); /* Apply box shadow on hover */
}


#initials {
    font-size: 2.5rem;
    margin-left: 5vw;
    cursor: default;
    color: var(--primary);
}

.cornerR {
    margin-right: 10vw;
}

.cornerL {
    margin-left: 10vw;
}

#introduction-section {
    height: 31.25rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 6.25rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.name-socials {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: bold;
    color: var(--tertiary0);
    text-align: left;
    width: 40%;
    margin-bottom: 3.5rem;
}

.name::after {
    content: "";
    border-bottom: 1px solid;
    border-color: var(--primary);
    display: block;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 0;
    margin-right: 20rem;
}

.dot {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--primary);
}

.anchor {
    text-decoration: none; 
    color: var(--tertiary0);
}

.socials {
    justify-content: center;
    align-self: center;
    display: flex;
    color: var(--primary);
    margin-bottom: 0rem;
    width: 40%;
}

.LinkedIn {
    color: var(--primary);
    font-weight: 200;
    width: 5rem;
    cursor: pointer;
    font-size: 1.125rem;
    transition: color 0.3s ease-in-out;
}

.LinkedIn::after {
    content: "";
    position: relative;
    border-right: 1px solid;
    left: 1.5625rem;
    border-color: var(--primary);
}

.Github {
    margin-left: 2.5rem;
    color: var(--primary);
    font-weight: 200;
    cursor: pointer;
    font-size: 1.125rem;
    transition: color 0.3s ease-in-out;
}


.wid-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: end;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 80%;
    margin-top: 5rem;
}

.me {
    width: 50%;
    height: 60%;
    align-self: center;
    justify-self: center;
    border: 1px solid var(--secondary);
    border-radius: 15px;
    flex-grow: 5;
}

.me img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit:cover;
}

.wid {
    font-size: 3rem;
    font-weight: 200;
    color: var(--primary);
    line-height: 3rem;
    width: 70%; 
    margin-left: 9rem;
}

.h1 {
    text-align: center;
}

.h3 {
    margin: 0.5rem;
}

#about-me-section {
    display: flex;
    flex-direction: column;
    margin-top: 6.25rem;
}

.about-me-heading {
    font-size: 4rem;
    text-align: right;
    margin-right: 6.25rem;
    font-weight: 200;
    padding-left: 0;
    color: var(--tertiary0);
}

.about-me-heading::after {
    content: "";
    border-bottom: 1px solid;
    border-color: var(--primary);
    display: block;
    width: 0%;
    right: 0;
    margin-right: 6.25rem;
    position: absolute;
    transition: width 0.6s ease-in-out;
}

#about-me-section:hover .about-me-heading::after {
    width: 10%;
}

.about-me-box {
    opacity: 100%;
    width: 80%;
    max-width: 100%; /* Ensure responsiveness */
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    margin-bottom: 9rem;
    margin-top: 6.25rem;
    border-radius: 20px;
    gap: 4rem;
    padding: 2rem;
    border: var(--primary) dashed 3px;
    flex-wrap: wrap;
    align-self: center; 

}

.about-paragraph {
    font-weight: 300;
    color: var(--tertiary0);
    max-width: 40%;
    min-width: 100%;
}

#technologies-section {
    display: flex;
    flex-direction: column;
    margin-top: 6.25rem;
}

.technologies-heading {
    font-size: 4rem;
    text-align: left;
    margin-left: 6.25rem;
    font-weight: 200;
    padding-right: 0;
    color: var(--tertiary0);
}

.technologies-heading::after {
    content: "";
    border-bottom: 1px solid;
    border-color: var(--primary);
    display: block;
    width: 0%;
    left: 0;
    margin-left: 6.25rem;
    position: absolute;
    transition: width 0.6s ease-in-out;
}

#technologies-section:hover .technologies-heading::after {
    width: 10%;
}

.line {
    content: "";
    border-bottom: 1px solid;
    border-color: var(--tertiary1);
    display: block;
    margin-right: 3rem;
    margin-left: 3rem;
    opacity: 30%;
}

.technologies-box {
    width: 50%;
    height: 12.5rem;
    align-self: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 6.25rem;
    margin-top: 6.25rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 10rem;
    align-items: center;
    overflow-x: scroll;
    border-color: var(--primary);
}

.descriptions {
    margin-top: 1.25rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: var(--tertiary0);
}

.icons {
    max-width: 6.25rem; 
    max-height: 6.25rem;
    min-width: 6.25rem;
    min-height: 6.25rem;
    flex: 1;
}

#projects-section {
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
}

.projects-heading {
    font-size: 4rem;
    text-align: right;
    margin-right: 6.25rem;
    font-weight: 200;
    padding-right: 0;
    margin-bottom: 12.5rem;
    color: var(--tertiary0);
}

.projects-heading::after {
    content: "";
    border-bottom: 1px solid;
    border-color: var(--primary);
    display: block;
    position: absolute;
    right: 0;
    margin-right: 6.25rem;
    width: 0%;
    transition: width 0.6s ease-in-out;
}

#projects-section:hover .projects-heading::after {
    width: 10%;
}

.projects-box {
    height: 31.25rem;
    width: 80%;
    align-self: center;
    display: flex;
    flex-direction: row;
}

.project-title {
    align-self: center;
    margin-right: 2rem;
    font-weight: 400;
    color: var(--tertiary0);
}

.project-title::after {
    content: "";
    border-bottom: 1px solid;
    border-color: var(--tertiary0);
    display: block;
    width: 30%;
    opacity: 30%;
    margin-left: 5rem;
}

.project-info1 {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    flex: 1;
    font-weight: 200;
}

.project-info2 {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex: 1;
}

.project-description {
    font-size: 1.5rem;
    margin-top: 2rem;
    color: var(--tertiary0);
}

.project-logos {
    align-self: center;
    margin-top: 1rem;
}

.project-image {
    max-width: 100%;
    max-height: 90%;
    border: solid 1px;
    border-radius: 10px;
}

.contact-heading {
    font-size: 4rem;
    text-align: center;
    font-weight: 200;
    margin-bottom: 1.25rem;
    margin-top: 12.5rem;
    align-self: center; /* Center horizontally */
    color: var(--tertiary0);
}

.contact-heading::after {
    content: "";
    border-bottom: 1px solid;
    border-color: var(--primary);
    display: block;
    width: 0%;
    margin-left: 44%;
    color: var(--primary);
    transition: width 0.6s ease-in-out;
    position:absolute;
    left: 50;
}

#contact-section:hover .contact-heading::after {
    width: 10%;
}

#contact-me-section {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 3rem; /* Adjust margin-top as needed */
    margin-bottom: 12.5rem;
}

#contact-box {
    border: 1px dashed var(--primary);
    width: 31.25rem;
    max-width: 100%; /* Ensure responsiveness */
    height: 25rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.form-group {
    margin-top: 1.25rem;
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    gap: 0.6rem;
    color: var(--tertiary0);
}

.form-control {
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--tertiary0);
    color: var(--secondary);
}

#email {
    width: 12.5rem;
    margin-left: 0.5rem;
}

#message {
    resize: none;
    width: 25rem;
}

.submit-button {
    margin-top: 1.25rem;
    width: 6.25rem;
    height: 2.5rem;
    background-color: var(--tertiary0);
    color: var(--secondary);
    border-color: var(--primarys);
    border-radius: 5px; 
}

.submit-button:hover {
    cursor: pointer;
}

.submit-button:active {
    opacity: 0.8;
}

@media only screen and ()(max-width: 767px) {
    /* Adjust scrollbar width for mobile */
    .technologies-box::-webkit-scrollbar {
      width: 20px; /* Adjust the width as needed */
    }

    .project-description {
        font-size: 3rem;
    }
  }

